<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>145891780050-kfck8rlr2bg5gr4dp9mcs5rfj7s5mpei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145891780050-kfck8rlr2bg5gr4dp9mcs5rfj7s5mpei</string>
	<key>API_KEY</key>
	<string>AIzaSyA-_BzErvK6Vl8JcxVTAfesPOC-6mV19qU</string>
	<key>GCM_SENDER_ID</key>
	<string>145891780050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>chriscosentinodev.TakeNote</string>
	<key>PROJECT_ID</key>
	<string>takenote-b0723</string>
	<key>STORAGE_BUCKET</key>
	<string>takenote-b0723.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145891780050:ios:17a5d3d315ca50fe</string>
	<key>DATABASE_URL</key>
	<string>https://takenote-b0723.firebaseio.com</string>
</dict>
</plist>